.Button {
  padding: 10px 15px;
  
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  transition: all, .3s;
  border: 3px solid #fff;
  cursor: pointer;
  
  &:hover {
    // border: 3px solid #90e0ef;
  }

  &:active, &:focus {
    border: 3px solid #00b4d8;
    // background: #023e8a;
  }
}

.primary {
  background: #0077b6;

  &:hover {
    border: 3px solid #90e0ef;
  }

  &:active, &:focus {
    border: 3px solid #00b4d8;
    background: #023e8a;
  }
}